eureka-serverproject/target/*
project1/target/*
project1-config-server/target/*
eureka-serverproject/.settings/*
project1/.settings/*
project1-config-server/.settings/*
project1-config-server/target/**
gateway-serverproject/target/**
gateway-serverproject/.settings/**
project1/.factorypath
bankapp/target/*
bootcoinapp/target/*
bootcoinapp/.mvn/*
botcoinapp/.mvn/wrapper/maven-wrapper.jar
botcoinapp/.mvn/wrapper/maven-wrapper.properties
botcoinapp/.mvn/wrapper/maven-wrapper.jar
botcoinapp/mvnw
botcoinapp/mvnw.cmd
botcoinapp/nbactions.xml
